* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

h1 {
    display: inline-block;
    margin: 0px;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-image: url('images/denver.jpeg')
}

.contact-info {
    list-style: none;
    display: flex;
    flex-direction: row;
}

#hero-image{
    display: inline-block;
    width: 150px;
    height: 150px;
}

#contact-info {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.icon {
    height: 30px;
    width: 30px;
}

.icon-right {
    margin-left: 10px;
}


body {
    font-family: "Lato", sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
}

.height-100 {
    height: 100%;
}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 50%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    flex-direction: row;
}

.screen-shot{
    height: 50%;
    width: 200px;
    margin-right: 20px;
}

#projects-tab {
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.tech {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-start;
    margin-bottom: 15px;
}

#button-container {
    width: 100%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
}

p {
    text-align: left;
    margin-right: 2%;
    line-height: 1.5em;
}

#about-me-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#about-me {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/longs.jpg');
    height: 100%;
}


#projects {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/steel.jpg');
    height: 100%;
}

h3 {
    margin-top: 20px;
}

.link-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
}

#repo {
    margin-left: 25px;
}

.white {
    color: white;
}

.auto-height {
    height: 100%;
}

/* @media screen and (min-width: 600px) and (orientation: portrait){
    #about-me {
        height: 100%;
    }
    
    #projects {
        height: 100%;
    }
}

@media screen and (min-width: 850px){
    #about-me {
        height: 100%;
    }
} */
